@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-bgGray;
    scroll-behavior: smooth;
  }

/* Use CSS variables in your styles */
body {
    @apply bg-bgGray text-black
}

body.dark {
    @apply bg-gray-800 text-white; /* Dark mode styles */
}

.border {
    border-color: var(--border-color);
}

h1 {
    @apply text-4xl font-extrabold  ;
}

h3 {
    @apply text-2xl font-bold  ;
}

.all-directions-shadow {
    box-shadow: 0 10px 12px rgba(46, 46, 46, 0.1), 0 -10px 12px rgba(85, 85, 85, 0.1), 10px 0 12px rgba(71, 71, 71, 0.1), -10px 0 12px rgba(0, 0, 0, 0.1);
  }
  

@layer components {

}